<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Header Navigation</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <header class="custom-header">
    <nav class="custom-nav">
      <ul class="custom-nav-list">
        <li class="custom-nav-item"><a class="custom-nav-link" href="/">Home</a></li>
        <li class="custom-nav-item"><a class="custom-nav-link" href="../auth/login">Login</a></li>
        <li class="custom-nav-item"><a class="custom-nav-link" href="../auth/register">Registration</a></li>
      </ul>
    </nav>
  </header>

</body>
</html>
